<footer class="main-footer">
    <div class="row">
        <div class="col-sm">
            <strong>Copyright &copy; @DateTime.Today.Year.</strong>
            Todos os direitos reservados
        </div>
        <div class="col-sm text-right">
            <b>Versão </b>@System.Reflection.Assembly.GetExecutingAssembly().GetName().Version
        </div>
    </div>
</footer>
<script src="~/plugins/jquery/jquery.js"></script>
